# ignore installed dependencies
node_modules
bower_components

# ignore generated build
/build-*/
/release*
/dist

# ignore istanbul report
/coverage

# ignore custom config file
/by-conf.js

# ignore temporary files and log files
temp/
tmp/
log/
*.log
*.tmp

# editor config directory ignore
.idea
.vscode
